{% extends "base.html" %}

{% block content %}

<h1>{{ group.name }}</h1>

<hr>

<h3>Participants</h3>

<form
    method="POST"
    action="{{ url_for('main.add_participant', group_id=group.id) }}"
    class="mb-3"
>
    <div class="input-group">
        <input
            type="text"
            name="participant_name"
            class="form-control"
            placeholder="Participant name"
            required
        >

        <button class="btn btn-success" type="submit">
            Add Participant
        </button>
    </div>
</form>

<ul class="list-group mb-4">
    {% for participant in participants %}
        <li class="list-group-item">
            {{ participant.name }}
        </li>
    {% endfor %}
</ul>

<hr>

<h3>Expenses</h3>
<a
    href="{{ url_for('main.settlements', group_id=group.id) }}"
    class="btn btn-dark mt-4"
>
    View Settlements
</a>

<form
    method="POST"
    action="{{ url_for('main.add_expense', group_id=group.id) }}"
    class="mb-4"
>
    <input
        type="text"
        name="description"
        class="form-control mb-2"
        placeholder="Expense description"
        required
    >

    <input
        type="number"
        step="0.01"
        name="amount"
        class="form-control mb-2"
        placeholder="Amount"
        required
    >

    <select
        name="paid_by_id"
        class="form-select mb-2"
        required
    >
        {% for participant in participants %}
            <option value="{{ participant.id }}">
                {{ participant.name }}
            </option>
        {% endfor %}
    </select>

    <button class="btn btn-primary" type="submit">
        Add Expense
    </button>
</form>

<ul class="list-group">
    {% for expense in expenses %}
        <li class="list-group-item">
            {{ expense.description }} - €{{ expense.amount }}
            (Paid by participant ID: {{ expense.paid_by_id }})
        </li>
    {% endfor %}
</ul>

{% endblock %}